.image-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 21;
}

.image-preview .row {
  height: auto;
  margin: 10px;
  position: relative;
}

.image-preview .row .image-title {
  text-align: center;
}

.image-preview .row .image-cover {
  width: auto;
  text-align: center;
}

.image-preview .row .image-cover img {
  border: 1px solid grey;
  box-shadow: 2px 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.image-cropper {
  position: relative;
  height: 100%;
  top: 50px;
}

.image-cropper .preview-image {
  position: absolute;
  right: 24px;
  top: 20px;
  width: 1024px;
  height: 1024px;
  box-shadow: 2px 4px 18px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.image-cropper .loader-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.image-cropper .loader-screen .blur-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.image-cropper .loader-screen .cover {
  position: relative;
  width: auto;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 2px 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.image-cropper .loader-screen .cover .row {
  width: 100%;
  height: auto;
  /* text-align:left; */
  padding: 2px;
}

.image-cropper .button-group {
  position: fixed;
  z-index: 1;
  /* width: 100%; */
  height: auto;
  opacity: 1;
  top: 100px;
  left: 9px;
}
.image-cropper .button-group .buttons {
  text-align: left;
}

.image-cropper .button-group .buttons label {
  margin-left: 10px;
}

.image-cropper .button-group .buttons input {
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #efefef;
  outline: none;
}

.image-cropper .button-group .buttons input:hover {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.image-cropper .button-group .button-row {
  text-align: left;
}

.image-cropper .button-group .button-row .preview-button {
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.image-cropper .button-group .button-row .upload-button {
  /* background-color: #007300; */
  /* color: white; */
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;

  cursor: pointer;
  outline: none;
}

.image-cropper .button-group .button-row .preview-button:hover,
.image-cropper .button-group .button-row .upload-button:hover {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.active {
  border: 2px solid #ffdb03 !important;
  color: black;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.clicked {
  background-color: #f50057 !important;
  color: #ffffff;
}

button:disabled,
input:disabled {
  box-shadow: none;
  cursor: not-allowed !important;
  background-color: #efefef !important;
  border: none !important;
  outline: none !important;
  color: grey !important;
}

.navbar {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 2px 4px 18px 0 rgba(0, 0, 0, 0.1);
  z-index: 1111;
  width: 100%;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar h2 {
  margin: 0px;
  color: #3f51b5;
  font-family: "Montserrat", sans-serif;
}

.navbar h2:hover {
  cursor: pointer;
}

.navbar img:hover {
  cursor: pointer;
}

.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
}

.upload-section .hidden-input {
  position: absolute;
  top: 0;
  left: -10em;
  height: 0;
  width: 0px;
  opacity: 0;
}

.input-cover .upload-button {
  padding: 20px;
  font-size: 20px;
  /* margin: 10px; */
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 4px 18px 0 rgba(0, 0, 0, 0.1);
  color: #3e8dd2;
}

.input-cover .upload-button:hover {
  padding: 25px;
}

.final-image {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.background-blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.final-image .cover {
  position: relative;
  width: auto;
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 2px 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.final-image .cover .row {
  width: 100%;
  height: auto;
  /* text-align:left; */
  margin-top: 3px;
  padding-top: 1px;
}

.final-image .cover .row p {
  margin: 0px;
  padding: 0px;
}

.final-image .cover .row .close-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: white;
  background-color: #333333;
  cursor: pointer;
}

.final-image .cover .row img {
  box-shadow: 2px 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.final-image .cover .row .save-btn,
.final-image .cover .row .cancel-btn {
  padding: 7px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  cursor: pointer;
  outline: none;
  width: 60px;
}

.final-image .cover .row .save-btn {
  background-color: #007300;
  color: white;
}

.final-image .cover .row .save-btn:hover,
.final-image .cover .row .cancel-btn:hover {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
